/*/.settings

# Ignore Eclipse project files
/*/.project
/*/.classpath
/.project

# Ignore IDEA project files
/.idea
/*/.idea

*.log

/.gradle/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build
/*/build